# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/

# Poetry
poetry.lock

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Type checkers
.mypy_cache/
.pytest_cache/
.pyre/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Project
/temp
/project/config.py
/_notes